:root {
  --secondary-c: #071013;
  --background-c: #0f1f25;
  --accent-background-c: #0f1f25;
  --accent-borders: #344650;
  --text-c: #ececec;
  --accent-c: #00ffffff;
  --sad-accent: #226166;
  --sad-accentp: #2f848b;

  /* Colores usados en los buttons */

  --bttn-accent: #6bcc09;
  --bttn-green-border: #00ad09;

  --bttn-purple-main: #3d4cfb;
  --bttn-purple-border: #4646ec;

  /* Colores usados en los < code> */

  --color-code-red: rgba(255, 0, 0, 0.178);
  --color-code-red-over: rgb(209, 173, 173);

  --color-code-green: rgba(17, 88, 23, 0.589);
  --color-code-green-over: rgb(188, 206, 186);

  --color-code-yellow: rgba(238, 255, 0, 0.363);
  --color-code-yellow-over: rgb(209, 207, 173);

  --color-code-main: rgb(0, 0, 0);
  --color-code-main-over: #00ffffff;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  background-color: var(--background-c);
  color: var(--text-c);
}

header {
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 100;
  font-size: medium;
  letter-spacing: 2px;
  color: var(--text-c);
  background-color: var(--secondary-c);
  /* border-radius: 0 0 20px 20px; */
  padding: 6px;
  border-bottom: 0.15rem solid var(--accent-borders);
}

/* Nav-bar =>Starts<= */

.nav-bar {
  display: flex;
  height: 7vh;
  justify-content: space-between;
  padding: 1%;
  align-items: center;
  overflow: hidden;
}

.nav-bar-logo-container {
  display: flex;
  align-items: center;
  height: 100%;
  overflow: hidden;
  padding: 0.3%;
  transition: background-color 0.2s ease-in-out;
}

.nav-bar-logo {
  width: auto;
  height: 100%;
  object-fit: contain;
  transition: filter 0.5s ease, rotate 0.4s ease-in-out;
}

.nav-bar-links-container {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
}

.nav-bar-links-container a {
  border-bottom: 2px solid var(--text-c);
  padding-bottom: 0.1%;
  color: var(--text-c);
  text-decoration: none;
  transition: border 0.4s;
}

.nav-bar-links-container a:hover {
  color: var(--accent-c);
  border-color: var(--accent-c);
  border-width: 8px;
}

.nav-bar-logo:hover {
  rotate: 360deg;
}

.nav-bar-logo:active {
  filter: invert(1);
}

.nav-bar-logo-container:has(.nav-bar-logo:active) {
  /* Éste operador, aplica el estilo solo cuando el logo es active. */
  background-color: var(--accent-c);
}

/* Nav-bar =>Ends<= */

/* Publicaciones y cards =>Starts<= */

.cards-container {
  display: flex;
  flex-wrap: wrap;
}

.card-main {
  overflow: hidden;
  display: flex;
  background-color: var(--secondary-c);
  border-radius: 30px;
  border: 0.15rem solid var(--accent-borders);
  border-bottom: 0.5rem solid var(--accent-borders);
  border-right: 0.35rem solid var(--accent-borders);
  padding: 2rem;
  width: 100%;
  height: 100%;
  margin: 5rem 5rem 0 5rem;
  /* Una sutil transicion que hace mas grande el article en la que estamos hover */
  transition: transform 0.4s ease, background-color 0.5s ease-in-out;
}

.card-text,
.card-img {
  display: flex;
  flex: 1;
  /* para que los 2 containers ocupen el mismo espacio */
  text-align: justify;
}

.card-text h2 {
  display: flex;
  flex-wrap: wrap;
  color: var(--text-c);
  font-family: monospace;
  gap: 1rem;
  text-align: left;
}

.card-text {
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5%;
}

.estilo-code-red {
  font-family: monospace;
  background-color: var(--color-code-red);
  color: var(--color-code-red-over);
  padding: 0.2rem;
  border-radius: 15px;
}

.estilo-code-yellow {
  font-family: monospace;
  background-color: var(--color-code-yellow);
  color: var(--color-code-yellow-over);
  padding: 0.2rem;
  border-radius: 15px;
}

.estilo-code-green {
  font-family: monospace;
  background-color: var(--color-code-green);
  color: var(--color-code-green-over);
  padding: 0.2rem;
  border-radius: 15px;
}

.estilo-code-special {
  font-family: monospace;
  color: var(--text-c);
  padding: 0.2rem;
  border-radius: 15px;
  background: rgb(58, 161, 180);
  background: linear-gradient(
    90deg,
    rgb(39, 110, 122) 0%,
    rgba(98, 119, 21, 1) 30%,
    rgba(113, 13, 30, 1) 70%,
    rgba(20, 26, 96, 1) 100%
  );
}

.commit-link {
  font-family: monospace;
  font-weight: bold;
  color: var(--text-c);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  text-decoration: none;
  border: 1px solid var(--sad-accent);
  background: linear-gradient(
    90deg,
    rgba(58, 161, 180, 0.1) 0%,
    rgba(98, 119, 21, 0.1) 30%,
    rgba(113, 13, 30, 0.1) 70%,
    rgba(20, 26, 96, 0.1) 100%
  );
  transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.commit-link:hover {
  background: linear-gradient(
    90deg,
    rgb(39, 110, 122) 0%,
    rgba(98, 119, 21, 1) 30%,
    rgba(113, 13, 30, 1) 70%,
    rgba(20, 26, 96, 1) 100%
  );
  border-color: transparent;
  transform: scale(1.05);
}

code {
  background-color: var(--color-code-main);
  color: var(--color-code-main-over);
  padding: 2px;
  border-left: 1px solid var(--color-code-main-over);
}

.card-text p {
  border: 1px solid var(--sad-accent);
  border-radius: 12px;
  padding: 20px;
  margin: 20px 0 10px 0;
  height: 100%;
}

.card-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: auto;
  overflow: hidden;
}

.card-img img {
  width: 90%;
  object-fit: contain;
  margin: 1rem;
  border-radius: 20px;
}

.estilo-titulo-proyecto {
  font-family: monospace;
  background-color: var(--accent-borders);
  color: var(--text-c);
  padding: 0.25rem;
  border-radius: 25px;
  border: 0.25rem solid var(--accent-borders);
}

.color-fecha {
  font-family: monospace;
  background-color: var(--bttn-purple-main);
  color: var(--text-c);
  padding: 0.25rem;
  border-radius: 25px;
  border: 0.25rem solid var(--bttn-purple-border);
}

.color-especial {
  font-family: monospace;
  color: var(--text-c);
  padding: 0.50rem;
  border-radius: 25px;
  background: rgb(58, 161, 180);
  background: linear-gradient(
    90deg,
    rgb(39, 110, 122) 0%,
    rgba(98, 119, 21, 1) 30%,
    rgba(113, 13, 30, 1) 70%,
    rgba(20, 26, 96, 1) 100%
  );
}

.card-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10%;
}

.card-main:hover {
  transform: scale(1.01);
  /* background-color: var(--accent-background-c); */
}

/* Publicaciones y cards =>Ends<= */

/* Buttons =>Starts<= */

/* normal */
.button-link {
  color: var(--text-c);
  background-color: var(--background-c);
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  transition: background-color 0.1s ease-in-out;
}

.button-link:hover {
  background-color: var(--secondary-c);
}

.button-link:active {
  background-color: var(--text-c);
  color: var(--secondary-c);
}

/* info */
.button-link-info {
  background-color: var(--bttn-purple-main);
  color: var(--text-c);
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 0.06rem;
  padding: 0.5rem;
  margin: 10px;
  border: 0.3rem solid var(--bttn-purple-border);
  border-bottom: 0.5rem solid var(--bttn-purple-border);
  border-radius: 20px;
  transition: transform 0.3s ease-in-out;
}

.button-link-info:hover {
  transform: scale(1.05);
}

/* proyect */
.button-link-proyect {
  background-color: var(--bttn-accent);
  color: var(--text-c);
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 0.06rem;
  padding: 0.5rem;
  margin: 10px;
  border: 0.3rem solid var(--bttn-green-border);
  border-bottom: 0.5rem solid var(--bttn-green-border);
  border-radius: 20px;
  transition: transform 0.3s ease-in-out;
}

.button-link-proyect:hover {
  transform: scale(1.05);
}

/* Link-buttons =>Ends<= */

footer {
  margin-top: 5rem;
  background-color: var(--secondary-c);
  text-align: center;
  padding: 30px;
}

footer a {
  color: var(--accent-c);
}

footer p {
  margin: 0px;
}

.author {
  color: var(--accent-c);
}

@media (max-width: 830px) {
  .card-main {
    flex-direction: column;
    margin: 2rem;
  }
}
