/* Reconstruí todo lo que habia aqui para que tenga mas sentido con los materiales que hemos estado aprendiendo con la Sensei */

:root {
  /* Declaramos los colores en variable para poder mantener la pagina de manera practica */
  --secondary-c: #020507;
  --background-c: #151b23;
  --accent-background-c: #060f14;
  --text-c: #ececec;
  --accent-c: #00f0ff;
  --sad-accent: #226166;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--background-c);
  color: var(--text-c);
}

header {
  /* En esta ocasion use un tipo de google fonts personalizada para que quedara mas estetico */
  font-family: "Pixelify Sans", sans-serif;
  /* Para que funcione hay que linkear la fuente en el html, aunque no se si lo estoy haciendo de manera correcta, pero funciona */
  font-weight: 100;
  letter-spacing: 2px;
  background-color: var(--secondary-c);
  box-shadow: 0px 0.5px 0px rgb(78, 78, 78); /* Sombra suave */
  color: var(--text-c);
  padding: 6px;
  font-size: medium;
}

h1 {
  display: inline-block;

  /* Para darle un poco de margen y no quede pegado a la esquina */
  padding-left: 20px;
}

article {
  text-align: center;
  display: block;
  background-color: var(--secondary-c);
  border-radius: 10px;
  padding: 10px;
  width: auto;
  height: auto;
  margin: 50px;
  /* Una sutil transicion que hace mas grande el article en la que estamos hover */
  transition: background-color 0.5s ease-in-out;
}

a {
  display: inline-block;
  color: var(--text-c);
  background-color: var(--background-c);
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  /* Una transicion anidada para hacer un poco mas grande y transicion de color de las fuentes en el boton */
  transition: transform 0.3s ease, background-color 0.1s ease-in-out;
}

a:hover {
  transform: scale(1.01);
  background-color: var(--secondary-c);
  border: 1px, solid, #151b23;
}
a:active {
  background-color: var(--text-c);
  color: var(--secondary-c);
}
article:hover {
  background-color: var(--accent-background-c);
}
.sad-accent {
  font-style: italic;
  color: var(--sad-accent);
}
h2 {
  color: var(--accent-c);
  text-align: left;
  display: block;
  padding-left: 20px;
}

footer {
  background-color: var(--secondary-c);
  text-align: center;
  padding: 30px;
}

footer a {
  color: var(--accent-c);
}

nav{
  padding: 10px;
  margin: auto;
}

footer p{
  margin: 0px;
}

.author {
  color: var(--accent-c);
}