
/* DE LO GENERAL a lo particular */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(215, 220, 250);
    color: #222;
    line-height: 1.5;
}
header{
    background-color: #fff;
    /* color: black; (no se hereda a los links, no sirve ponerlo jaha*/
    padding: 10px 20px;
}

.logo{
    font-size: 70px;
}

.navbar{
    display: flex;
    align-items: center;
    align-content: stretch;
    justify-content: space-between;
}

.navlink{
    list-style: none;
    display: flex;
    gap: 20px;
}

.navlink a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding-bottom: 30px;
    transition: color 0.2s ease-in-out, border-bottom 0.2s ease;
}

.navlink a:hover{
    color: blue;
    border-bottom: 10px solid blue;
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

.herocontent{
    margin-top: 10px;
}

.heroimg{
    width: 1366;
    height: 768;
    border-radius: 20px;
}

.categorias{
    padding: 20px;
    background-color: white;
    margin: 20px;
    border-radius: 20px;
}

.lista-categorias{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.categorias-items{
    text-align: center;
    text-decoration: none;
    color: #222;
}

.categorias-items img{
    border-radius: 50%;
} 

.productos{
    padding: 20px;
    margin: 10px 0;

}

.lista-carrusel{
    display: flex;
    gap: 40px;
    padding: 10px;
    overflow-x: auto; 
    scroll-snap-type: x mandatory;
}

.producto-item{
    scroll-snap-align: start;
    text-align: center;
    text-decoration: none;
    color: #222;
}

.producto-item img{
    border-radius: 20px;
}

.producto-titulo{
    font-size: 16px;
    font-weight: bold;
}

.producto-precio{
    font-size: 14px;
    color: blue;
}

footer{
    background-color: white;
    text-align: center;
    padding: 20px;
}