:root {
  /* Colores usados en la estructura general */

  --verde-starbucks: #006241;
  --verde-accento-menu: #007c4f;
  --gris-sombra: #eaeaea;
  --background-blanco-main: #ffffff;
  --botones-negro: #000;
  --semi-negro-nav: #1f1f1f;
  --accento-gris: #333333;

  /* Colores usados en las forms */

  --form-color-bg: #edebe9;
  --form-color-item-needed: #e9484c;
  --form-color-text-placeholder: #83747d;
  --form-colot-text-label: #696766;
  --form-color-label-bg: #ffffff;
  --form-color-bottom-box: #CCCCCC;
  --form-color-bottom-box-active: #54A963;


  /* Articles: */
  --article-verde: #1e3932;
  --article-azul: #0044b4;
  --article-light-azul: #98cde4;
  --article-cherry: #d50032;
  --article-light-cherry: #f6bfd9;

  /* fuentes */
  --text-over-cherry: #db273c;
  --text-over-light-azul: #003b49;
  --text-light-gray-footer: #999999;
  --text-light-gray-accento-footer: #7c7c7c;
  --text-articles-main: #ffffff;
}

@font-face {
  font-family: "SoDo-mine";
  src: url("") format("woff2"),
    url("./assets/fonts/HindJalandhar-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "SoDo-mine";
  src: url("") format("woff2"),
    url("./assets/fonts/HindJalandhar-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "SoDo-mine";
  src: url("") format("woff2"),
    url("./assets/fonts/HindJalandhar-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "SoDo-mine";
  src: url("./assets/fonts/HindJalandhar-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "SoDo-mine";
  src: url("./assets/fonts/HindJalandhar-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

/* == Selectores generales ===================> Starts <===========================================================*/

* {
  /* Selecciono el box model de border-box para manejar de una mejor manera los tamaños */
  box-sizing: border-box;
  /* Igual que la page original no tenemos ni margin ni pading casi en ninguna sección */
  margin: 0px;
  padding: 0px;
}

body,
main {
  font-family: SoDo-mine, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: -0.01em;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  background-color: var(--background-blanco-main);
  color: var(--semi-negro-nav);
  z-index: 1000;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.05);
}

p {
  white-space: normal;
}

/* Selectores generales - end - */

/* == Nav bar ====================================> Starts <=========================================================================== */

header a {
  font-weight: bolder;
  color: var(--semi-negro-nav);
  text-decoration: none;
}

.nav-bar-container {
  display: flex;
  width: 1200px;
  height: 50px;
  padding: 20px 0;
  margin: 0 70px 0 70px;
  align-items: center;
  justify-content: space-between;
}

.nav-bar-der,
.nav-bar-izq {
  display: flex;
  align-items: center;
}

/* Nav-bar IZQ */

.nav-bar-izq {
  padding-right: 40px;
  gap: 45px;
  letter-spacing: 0.1em;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.logo a {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.main-menu {
  list-style: none;
  display: flex;
  gap: 40px;
}

.main-menu a {
  padding-bottom: 26px;
}

.main-menu a:hover {
  color: var(--verde-accento-menu);
  border-bottom: 5px solid var(--verde-starbucks);
}

.nav-bar-der {
  padding-left: 40px;
  gap: 40px;
  font-weight: 400;
}

/* Nav-bar IZQ ENDS */
/* Nav bar DER */

.user-auth-container {
  display: flex;
  gap: 20px;
}

.encuentra-tienda {
  display: flex;
  align-items: center;
}

.nav-bar-user-in {
  padding: 3px 16px;
  border: 1px solid var(--botones-negro);
  border-radius: 25px;
}

.nav-bar-user-new {
  padding: 3px 16px;
  background-color: var(--botones-negro);
  color: var(--text-articles-main);
  border: 1px solid var(--botones-negro);
  border-radius: 25px;
}

.nav-bar-der a {
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.nav-bar-der a:hover {
  color: var(--accento-gris);
}

.social-networks a:hover {
  color: var(--accento-gris);
}

.nav-bar-der .nav-bar-user-new:hover {
  background-color: var(--accento-gris);
  color: var(--text-articles-main);
}

/* Navbar - end - */
/*== Cards =======================================> Starts <===========================================================*/

/* Contenedores generales y despliege */
.cards {
  display: flex;
  flex-direction: column;
  color: var(--text-articles-main);
  font-weight: bold;
  font-stretch: ultra-expanded;
  width: 100%;
}

.card-container {
  overflow: hidden;
  display: flex;
  background-color: var(--secondary-c);
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

.card-container-txt,
.image-container {
  display: flex;
  flex: 1;
}

/* Image container */

.image-container {
  display: flex;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  object-fit: contain;
}

/* Text container */

.card-container-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-container-txt h2 {
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem 5rem;
  text-align: center;
}

.card-container-txt p {
  font-size: 1.23rem;
  font-weight: 500;
  text-align: center;
  padding: 0.5rem 6rem 1rem 6rem;
  letter-spacing: 0rem;
}

/* Estilos colores cards */

.card-green {
  color: inherit;
  font-weight: inherit;
  font-stretch: inherit;
  background-color: var(--article-verde);
}

.card-cherry {
  background-color: var(--article-cherry);
}

.card-blue {
  background-color: var(--article-azul);
}

/* Cards end */
/* Asides ==========================> Starts <========================================= */
/* .body-aside{
  height: 90vh;
} */
.header-sticky {
  position: sticky;
  top: 0vh;
}

.main-aside {
  display: flex;
  height: auto;
}

.card-aside-fixed {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 89vh;
  width: 41.5vw;
  position: fixed;
  top: 11vh;
  z-index: -1000;
  color: var(--text-articles-main);
  background: rgb(28, 60, 51);
  background: linear-gradient(0deg, #1d3e34 0%, #31694b 100%);
}

.card-aside-fixed h1 {
  font-weight: 650;
  letter-spacing: 0.05rem;
  font-size: 23pt;
  margin: 1em;
}

/* Main aside */

.auth-usr-container {
  display: flex;
  margin-left: 41.5vw;
  width: 68.5vw;
  height: 100%;
  flex-direction: column;
  overflow: hidden;
}

/* FORM */

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--form-color-bg);
}

.login-form {
  display: flex;
  flex-direction: column;
  font-family: inherit;
  width: 360px;
  padding: 3rem 0;
}

.form-atributo-necesario {
  color: var(--form-color-item-needed);
}

.form-label {
  color: var(--form-colot-text-label);
}

.form-placeholder {
  color: var(--form-color-text-placeholder);
  font-weight: 700;
  font-size: 1rem;
  padding: 0.75rem;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid var(--form-color-bottom-box);
  transition: border-bottom 0.2s ease;
  margin-bottom: 1rem;
}

.form-placeholder:focus{
  outline: none;
  border-bottom: 2px solid var(--form-color-bottom-box-active);
}